body{
	background-color: #c8c8c8;
	background-image: url(../images/BG.png);
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 2em;
	margin-bottom: 20px;
	margin-top: 90px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 50px;
}

p{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 1em;
	margin-bottom: 50px;
}

.effects{
	text-align: center;
	margin-left: 1050px;
	margin-top: 500px;
	color: #fff;
	width: 500px;
}

li{
	background-color: #000;
	margin-bottom: 25px;
	border-radius: 10%;
	height: 50px;
	width: 200px;
}

.effects li a{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	display: inline;
	color: #fff;
	margin-left: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-decoration: none;
	font-size: 1em;

}

