body{
	background-color: #c8c8c8;
	background-image: url(../images/BG.png);
	background-repeat: no-repeat;
	text-align: center;
}

.effects{
	margin-left: 1050px;
	margin-top: 420px;
	color: #fff;
	width: 600px;
	height: 300px;
}


.effects a{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #fff;
	text-decoration: none;
	margin-top: 20px;
}

button{
	background-color: #000;
	border-radius: 5%;
	width: 180px;
	padding-top: 20px;
	padding-top: 20px;
	margin-right: 500px;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	margin-top: 20px;
}
