body{
	background-color: #000;
}


/* Opciones del texto */

.title{
	display: none;
	position: relative;
	text-align: center;
	color: #fff;
	font-size: 30px;
	top: -500px;
	padding-top: 180px;
	padding-left: 250px;
	padding-right: 250px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Hover del texto */

div.title:hover,
a.wrapper:hover + div{
	display: block;
}

img{
	margin-left: 200px;
}