body{
	background-color: #f0f0f0;
}


/* Opciones del texto */

.title{
	display: none;
	position: relative;
	text-align: center;
	color: #fff;
	font-size: 45px;
	top: -500px;
	padding-left: 100px;
	padding-right: 100px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Hover del texto */

div.title:hover,
a.wrapper:hover + div{
	display: block;
}